<div orientation="landscape" data-qa="image-wrapper" class="relative w-full h-full overflow-hidden">
    <div class="w-full h-full" data-lcp-loaded="true">
      <div data-qa="image-media" class="w-full h-full" style="height: 100%; width: 100%;" data-requested-width="1863" data-requested-height="2250" data-is-portrait-image-requested="false">
        <img
          data-qa="image-media-img"
          alt="Nike. Just Do It"
          class="w-full h-full object-cover"
          src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_2250,c_limit/51e31725-f519-4618-a5ba-d4164965200c/nike-just-do-it.jpg"
          data-landscape-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/51e31725-f519-4618-a5ba-d4164965200c/nike-just-do-it.jpg"
          data-portrait-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/f750521c-20dd-4b29-9f30-de57bf133ac7/nike-just-do-it.jpg"
          data-image-loaded-class="guL_1FMX"
        />
      </div>
    </div>
  </div>
